<div class="w-screen h-screen p-4">
    <div class="py-3">
        <h3 class="text-xl font-bold mb-4">Envio de emails Utilizando NestJS</h3>
        <form action="/enviar-email" method="post" class="flex flex-col bg-slate-300 w-[300px] p-2 gap-2">
            <input class="rounded p-2" type="email" placeholder="Email" name="email">
            <textarea class="rounded p-2" type="text" placeholder="Mensagem" name="message"></textarea>
            <button class="bg-blue-800 rounded text-white py-3" type="submit">Enviar Email</button>
        </form>
    </div>
</div>